
<div class="table-responsive">
  <table class="table table-hover" style="background-color:lightgrey;">
   
    <tbody>
      <tr>
        <td><div>Q1. What are the main categories of electors in India?

            Ans.- There are 3 categories of electors in India: –
            (i)    General electors,
            (ii)    Oversees   (NRI)   electors    -    (   Kindly   refer   to   ‘Frequently   Asked Questions – Overseas Electors’),
            (iii)    Service Electors - (Kindly refer to ‘Frequently Asked Questions – Service Electors’).</div></td>
      </tr>

      <tr>
          <td><div>
              <b> Q2. Who is eligible to be registered as a general elector?</b>
              <br>
             Ans. Every Indian citizen who has attained the age of 18 years on the qualifying date i.e. first day of January of the year of revision of electoral roll, unless otherwise disqualified, is eligible to be registered as a voter in the roll of the part/polling area of the constituency where he is ordinarily resident.
             <br>
             </div></td>
        </tr>

        <tr>
            <td><div>
                <b>Q3. What is the relevant date for determining the age of 18 years? Can I get myself registered as a voter on the day when I have completed 18 years of age?</b>
                <br>
                Ans.- According to Section 14 (b) of the Representation of People Act, 1950 the relevant date (qualifying date) for determining the age of an applicant is the first day of January of the year in which the electoral roll after revision is finally published. For example, if you have completed or are completing 18 years of age on any date from and after 2nd January 2013 but upto to 1st January 2014, you will be eligible for registration as a voter in the elector roll going to be finally published in January, 2014.
                <br>
                </div></td>
          </tr>

          <tr>
              <td><div>
                  <b>Q4. Can a non-citizen of India become a voter in the electoral rolls in India?</b>
                  <br>
                  Ans.- No.  A person who is not a citizen of India is not eligible for registration as a voter in the electoral rolls in India. Even those who have ceased to be citizens of India on acquiring the citizenship of another country are not eligible to be enrolled in the electoral rolls in India.
                  <br>
                  </div></td>
            </tr>

            <tr>
                <td><div>
                    <b>Q5. Can a non-resident Indian settled in foreign land become an elector of electoral roll in India?</b>
                    <br>
                    Ans. Yes. According to the provisions of Sec 20A of the Representation of People Act, 1950 by the Representation of the People (Amendment) Act, 2010, a person who is a citizen of India and who has not acquired the citizenship of any other country and is otherwise eligible to be registered as a voter and who is absenting from his place of ordinary residence in India owing to his employment, education or otherwise is eligible to be registered as a voter in the constituency in which his place of residence in India as mentioned in his passport is located.
                    (For more information, please refer to ‘Frequently Asked Questions – Overseas Electors’)
                    <br>
                    </div></td>
              </tr>

              <tr>
                  <td><div>
                      <b>Q6. How can one get registered / enrolled in the electoral roll?</b>
                      <br>
                      Ans. One has to file the application for the purpose, in prescribed Form 6, before the Electoral Registration Officer / Assistant Electoral Registration Officer of the constituency within which the place of ordinary residence of the applicant falls. The application accompanied by copies of the relevant documents can be filed in person before the concerned Electoral Registration Officer / Assistant Electoral Registration Officer or sent by post addressed to him or can be handed over to the Booth Level Officer of your polling area, or can even be filed online on website of Chief Electoral Officer of the concerned state or website of Election Commission of India. While filing Form 6 on line, the copies of necessary documents should also be uploaded.
                      <br>
                      </div></td>
                </tr>

                <tr>
                    <td><div>
                        <b> Q7.From where Form 6 can be obtained ?</b>
                        <br>
                        Ans. It can be downloaded from the website of Election Commission of India. Form 6 is also available free of cost in offices of Electoral Registration Officers / Assistant Electoral Registration Officers and Booth Level Officers of the concerned polling station areas.
                        <br>
                        </div></td>
                  </tr>

                  <tr>
                      <td><div>
                          <b>Q8. What documents are required to be enclosed with Form 6?</b>
                          <br>
                         Ans. One recent passport size coloured photograph, duly affixed in the box given for the purpose in Form 6 and photo-copies of documentary proof of age and residence are required to be enclosed with Form 6. The list of documentary proof of age  and residence which can be enclosed with Form 6 is given in the guidelines enclosed with Form 6. For filling up Form 6, the said guidelines enclosed therewith may be referred to.
                         <br>
                         </div></td>
                    </tr>

                    <tr>
                        <td><div>
                            <b>Q9. I do not have a ration card.  Can I get enrolled without a ration card ?  What are the other documents which I can show as a proof of my residence ?</b>
                            <br>
                            Ans. If an applicant does not have a ration card, he can submit any other proof of residence, listed in the guidelines enclosed with Form 6.
                            <br>
                            </div></td>
                      </tr>

                      <tr>
                          <td><div>
                              <b>Q10. Is a documentary proof of age required in cases where age of the applicant is more than 21 years?</b>
                              <br>
                              Ans. Documentary proof of age is required only in those cases, where age of the applicant is between 18 and 21 years. In all other cases, declaration of his age by the applicant will be taken as proof of age.
                              <br>
                              </div></td>
                        </tr>
    </tbody>
  </table>
</div>
