<div style="margin-left: 150px;margin-top: 50px;">
<h3>

  <b>Election Commission of India is online web portal which enables citizens to <br>make registration,to apply for voter cards online and at other end electoral<br> officers will check that applications on the basis of rules and regulations <br>and approve or reject them,  apart from that this website is helpful for search <br>name in voters list,website will provide some information to the citizens through <br>the videos and images,if they have any questions then they are able to see FAQS section.</b>
</h3>
</div>