<div class="col-md-4"></div>
<div class="col-md-6" >
<legend>Edit Status</legend>

<div >
  <table style="width: 80%;height: 100%;">
  <tr >
      <td><img  style="width: 150px;height: 150px; margin-left: 90px;" src="data:image/gif;base64,{{data.image}}" ></td>
     
  </tr>

</table>
</div>

<div class="form-group" style="width: 60%;">
    <label for="regId">regId</label>
    <input [(ngModel)]="data.regId" type="text" disabled="disabled" class="form-control" id="regId" name="regId">
</div>



<div class="form-group" style="width: 60%;">
    <label for="name">Name</label>
    <input  [(ngModel)]="data.name" type="text" disabled="disabled" class="form-control" id="name" name="name">
</div>

<div class="form-group" style="width: 60%;">
    <label for="surname">Surname</label>
    <input  [(ngModel)]="data.surname" type="text" disabled="disabled" class="form-control" id="surname" name="surname">
</div>
<div class="form-group" style="width: 60%;">
  <label for="boD">Date of Birth</label>
  <input  [(ngModel)]="data.boD" type="text" disabled="disabled" class="form-control" id="boD" name="boD">
</div>
<div class="form-group" style="width: 60%;">
  <label for="gender">Gender</label>
  <input  [(ngModel)]="data.gender" type="text" disabled="disabled" class="form-control" id="gender" name="gender">
</div>

<div class="form-group" style="width: 60%;">
    <label for="email">Email</label>
    <input  [(ngModel)]="data.user.email" type="text" disabled="disabled" class="form-control" id="email" name="email">
  </div>
  <div class="form-group" style="width: 60%;">
      <label for="mobile">Mobile No</label>
      <input  [(ngModel)]="data.user.mobile" type="text" disabled="disabled" class="form-control" id="mobile" name="mobile">
    </div>
<div class="form-group" style="width: 60%;">
  <label for="aadharNo">AadharNo</label>
  <input  [(ngModel)]="data.aadharNo" type="text" disabled="disabled" class="form-control" id="aadharNo" name="aadharNo">
</div>

<div class="form-group" style="width: 60%;">
  <label for="street">Street</label>
  <input  [(ngModel)]="data.street" type="text" disabled="disabled" class="form-control" id="street" name="street">
</div>
<div class="form-group" style="width: 60%;">
  <label for="villege">Village</label>
  <input  [(ngModel)]="data.villege" type="text"  disabled="disabled" class="form-control" id="villege" name="villege">
</div>

<div class="form-group" style="width: 60%;">
  <label for="assmId">Assembly Name</label>
  <input  [(ngModel)]="data.assmId.name" type="text"  disabled="disabled" class="form-control" id="assmId" name="assmId">
</div>
<div class="form-group" style="width: 60%;">
    <label for="district">District</label>
    <input  [(ngModel)]="data.assmId.distId.disName" type="text" disabled="disabled" class="form-control" id="district" name="district">
  </div>
  <div class="form-group" style="width: 60%;">
      <label for="state">State</label>
      <input  [(ngModel)]="data.assmId.distId.state.stateName" type="text" disabled="disabled" class="form-control" id="state" name="state">
    </div>

<div class="btn-group btn-group-toggle" data-toggle="buttons" style="width: 60%; margin-left: 110px;color:white;">
  <label class="btn btn-outline-secondary" style="background-color: darkgreen;">
    <input type="radio"  [(ngModel)]="data.status" id="option1" value="true" autocomplete="off"   checked> Approve
  </label>
  <label class="btn btn-outline-secondary" style="background-color: darkred;">
    <input type="radio"  [(ngModel)]="data.status" id="option2" value="false"  autocomplete="off"  > Reject
  </label>
</div>
<br>
<br>

<div style="width: 60%;">
  <button type="button" (click)="update()" class="btn btn-primary" style=" width: 100%;">Update</button> 
  </div>

</div>




