<div class="text-center" style="color: darkred;font-family:fantasy, serif;">
  <h1>WELCOME!!!!</h1>
</div>
<!-- <div class="text-center" font-family:fantasy style="color:rgb(106, 41, 170);font-family: fantasy, serif;">
<h2>What Would You Like To Do???</h2>
</div> -->
<form style="padding-top: 0px;">
<a routerLink="/voterRegistration"><button type="button" class="btn btn-primary btn-lg btn-block"style="background-color: teal;">Fresh Enrollment</button></a>

<a routerLink="/trackStatus"><button type="button" class="btn btn-secondary btn-lg btn-block">Track Status Application</button></a>
<a routerLink="/searchMyself"><button type="button" class="btn btn-primary btn-lg btn-block" style="background-color:teal;">Search Yourself in VoterList</button></a>
<a routerLink="/update"><button type="button" class="btn btn-secondary btn-lg btn-block">Update details</button></a>

</form>